@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
p {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}
.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
.section-title span {
  color: crimson;
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  border: 2px solid crimson;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}
.cta:hover {
  color: white;
  background-color: crimson;
}

/* Header section */
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}
#header .header {
  min-height: 8vh;
  background-color: rgba(30, 30, 31, 0.24);
  transition: 0.3s ease background-color;
}
#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}
#header .nav-bar .brand a {
  text-align: right;
  direction: rtl;
  font-family: sans-serif;
  position: absolute;
  text-align: right;
  right: 0;
  top: 0;
  padding-right: 100px;
  padding-top: 10px;
  display: flex;
  flex-direction: row-reverse;
}
#header .nav-bar .brand h1 {
  font-size: 2rem;
  letter-spacing: 0.13rem;

  color: white;
}
#header .nav-bar .brand h2 {
  font-size: 1.5rem;
  letter-spacing: 0.4rem;
  color: orange;
}
#header .nav-bar .brand img {
  width: 90px;
  height: 100%;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}
#header .nav-list ul.active {
  left: 0%;
}
#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}
#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}
#header .nav-list ul li:hover a {
  color: crimson;
}
#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}
#header .hamburger:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}
#header .hamburger .bar::after {
  top: 8px;
}
#header .hamburger .bar::before {
  bottom: 8px;
}
#header .hamburger.active .bar::before {
  bottom: 0;
}
#header .hamburger.active .bar::after {
  top: 0;
}
/* End Header section */

/* Home Section */
#home .home {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.1));
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home .back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#home .home-content {
  display: flex;
  flex-direction: row;
}

#home .home-content .contact {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  bottom: 0;
  padding-left: 20px;
  padding-bottom: 200px;
}
#home .home-content form {
  display: flex;
  flex-direction: column;
}
#home .text {
  font-family: "M PLUS 1p", sans-serif;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: right;
  direction: rtl;
}
#home .text h1 {
  font-size: 50px;
  color: #fff;
  font-weight: 400;

  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-aspect-ratio: 16/9) {
  #home .back-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #home .back-video {
    width: auto;
    height: 100%;
  }
}

/* End Home Section */

/* About Section */
#about .about {
  font-family: sans-serif;
  text-align: right;
  direction: rtl;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#about .col-left {
  width: 300px;
  height: 100%;
}
#about .col-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#about .col-right h1 {
  font-size: 30px;
}
#about .col-right p {
  text-align: right;
  font-size: 20px;
  margin-bottom: 20px;
}
#about .col-right h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}

#about .col-right .cta {
  color: black;
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 2rem;
}
#about .col-left .about-img {
  height: 100%;
  width: 100%;
  position: relative;
  border: 10px solid white;
}
/* End About Section */

/* Services Section */
.services {
  direction: rtl;
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}
.service-top {
  max-width: 1000px;
  margin: 0 auto;
}
.service-top h1 {
  font-size: 40px;
  font-weight: 600;
}

.service-top p {
  font-size: 20px;
}
.service-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.service-item {
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.service-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.5;
  z-index: -1;
}

.service-item h2 {
  padding-top: 140px;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
}
.service-item p {
  color: white;
  text-align: left;
}
/* End Services Section */

/* contact Section */
#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
  direction: rtl;
}
#contact .section-title{
  margin-bottom: 80px;
}
#contact .contact-items {
  width: 100%;
}
#contact .contact-item {
  width: 80%;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}
#contact .contact-info{
  padding-right: 20px;
  padding-bottom: 20px;
}
#contact .contact-info h1 {
  direction: rtl;
  text-align: right;
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}
#contact .contact-info h2 {
  direction: rtl;
  text-align: right;
  font-size: 2.3rem;
  line-height: 2rem;
  font-weight: 500;
}
/*End contact Section */

/* Footer */
#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
  direction: rtl;
  min-height: 200px;
  flex-direction: column;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 10px;
}
#footer h1 {
  color: white;
  font-weight: 1000;
  font-size: 2.8rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer .brand{
  display: flex;
  flex-direction: column;
  text-align: center;
}
#footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}
#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}
#footer .social-item img {
  filter: grayscale(1);
  transition: 0.3s ease filter;
}
#footer .social-item:hover img {
  filter: grayscale(0);
}
#footer p {
  color: white;
  font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: white;
  }
}
@keyframes text_reveal_name {
  100% {
    color: crimson;
    font-weight: 500;
  }
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }
  h1.section-title {
    font-size: 6rem;
  }

  /* Services Section */
  .service-bottom .service-item {
    flex-basis: 45%;
    margin: 2.5%;
  }
  /* End Services Section */


  /* About */
  #about .about {
    flex-direction: row;
  }
  #about .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
  }
  #about .about .col-left .about-img::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid crimson;
  }
  #about .col-right {
    text-align: left;
    padding: 30px;
  }
  #about .col-right h1 {
    text-align: left;
  }
  /* End About */

  /* contact  */
  #contact .contact {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
  }
  #contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
  }
  #contact .contact-item {
    width: 30%;
    margin: 0;
    flex-direction: row;
  }
  #contact .contact-item .icon {
    height: 100px;
    width: 100px;
  }
  #contact .contact-item .icon img {
    object-fit: contain;
  }
  #contact .contact-item .contact-info {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }
  /* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
  /* header */
  #header .hamburger {
    display: none;
  }
  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav-list ul li {
    display: inline-block;
  }
  #header .nav-list ul li a {
    font-size: 1.8rem;
  }
  #header .nav-list ul a:after {
    display: none;
  }
  /* End header */

  #services .service-bottom .service-item {
    flex-basis: 22%;
    margin: 1.5%;
  }
}
/* End  Media Query For Desktop */
